body{
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 0.9rem;
  font-weight:400;
}

.emphasized{
  font-weight: 700;
}

.listedRecs > *{
  padding: 3px 0px;
}


/* table styles */
th{
  padding: 10px;
}

td{
  padding: 10px;
}


.cdcBlue{
  color: white;
  background-color: #007DF9;
}

.blueOverlay{
  color: #e9e9e9;
  background-color: #0069BF;
}

.cdcYellow{
  background-color: #FFF73C;
}

.yellowOverlay{
  background-color: #BFB52E;
}

.cdcOrange{
  color: white;
  background-color: #FF6738;
}

.orangeOverlay{
  color: #e9e9e9;
  background-color: #BF4A2B;
}

.cdcRed{
  color: white;
  background-color: #FF0D1C;
}

.redOverlay{
  color: #e9e9e9;
  background-color: #BF0C1D;
}


.greyOut{
  color: rgb(90, 90, 90);
  background-color: #dddddd;
}

.greyOut > a {
  color: #3c629b;
}


/* for info vis */
.itemsRow{
  padding: 15px 0px;
}
.itemDiv{
  padding: 15px;
  border-radius: 25px;
}
#cdcDiv{
  background-color: #f0f5ff;
  border: 1px solid #f0f5ff;
}
#cohortDiv, #maskDiv, #limitDiv, #screeningDiv{
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
}

.itemImgTop{
  width: 30%
}

.itemImg{
  width: 100%;
}
.itemLinkTop{
  font-size: 1.8rem;
  font-weight: 700;
}
.itemLink{
  font-size: 1.2rem;
  font-weight: 700;
}