body{
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 1rem;
  font-weight:400;
}

h2{
  font-size: 1.5rem;
}

/* navigation bar styling */
#sitenav{
  background-color:#0487bd;
}
#navbrand-img{
  height: 32px;
  padding: 0;
  margin: 0;
  padding-right: 10px;
}
.navbar-dark .navbar-nav .nav-link{
  color: rgba(255,255,255,0.8)
}

.nav-link:hover{
  background-color: #006687;
}

.navbar-brand{
  font-weight: 500;
}

/* page styling */

.topheader{
  font-size: 1.9rem;
  font-weight: 700;
  padding: 15px 0px;
}

#thresholdComparison{
  width: 100%;
}

.calcHeader{
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;

}
.aside{
  font-size: .9rem;
}

.calcDiv{
  padding: 5px 0px;
}

form{
  padding: 0px 10px;
}

.form-group{
  padding: 5px 0px;
}

#or{
  font-weight: 700;
  margin: 0;
  padding: 10 0;
}
.resultHead{
  font-size: 1.2rem;

}

.resultsCol{
  background-color: #0485bd0a;
  padding: 3px;
}

.submitbutton{
  margin: 15px 0px;
  border: 1.5px solid gray;
  /* color: #0487bd; */
}

.submitbutton:hover{
  border: 2px solid black;
}

.riskLevelH{
  font-weight: 700;
  font-size:1rem;
}

#cdcCaseResult, #msmCaseResult, #cdcPosResult, #msmPosResult{
  padding: 0px 10px;
}

.calculatedResult{
  font-weight: 500; 
  font-style: italic; 
  background-color: #0485bd0a;
}

.lowCDC{
  color: #749cd2;
}
.modCDC{
  color: #f6eb14;
}
.subCDC{
  color: #f8991d;
}
.highCDC{
  color: #ed2024;
}

.lowMSM{
  color: #bed5e6;
}
.aMSM{
  color: #a0bddc;
}
.bMSM{
  color: #8b96c8;
}
.cMSM{
  color: #8c6db0;
}
.dMSM{
  color: #8a4399;
}
.eMSM{
  color: #6a2469;
}